.tab_header {
    position: fixed;
    background-color: var(--color-main);
    padding: 20px 50px;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    box-sizing: border-box;
    line-height: normal;
    font-family: "Times New Roman", Times, serif;
}

.tab_group_left {
    display: flex;
    gap: 10px;
}

.tab_group_right {
    display: flex;
    gap: 10px;
}

.nav_link {
    color: var(--color-text);
}

.divider {
    color: var(--color-text);
    font-size: 15px;
}