.content {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    font-family: "Times New Roman", Times, serif;
}

.full {
  background-color: #2c2c2c;
}

.headshot_row {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.title {
  font: inherit;
}

.name_title {
  font-weight: bold;
}

.position_title {
  font-style: italic;
}

.description_container {
  font-size: 20px;
}