.gridContainer {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 0px;
  outline: 1px solid red;
}

.item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  width: 200px;
  height: 150px;
  padding: 10px;
  z-index: 1;
  text-align: center;
}

.item2 {
  background-color: lightblue;
  border: 1px solid #ccc;
  width: 300px;
  z-index: 2;
  height: 150px;
  padding: 10px;
  text-align: center;
}
