.content {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-family: "Times New Roman", Times, serif;
    color: var(--color-text);
}

.content h2 {
    font-size: 12px;
    color: var(--color-text-alternative);
}

.full {
    background-color: var(--color-bg-dark);
}

.sections section {
    margin-bottom: 10px;
}

.experience_block ul {
    margin: 10px 20px;
}

.container {
    margin: 10px 15px;
}

.pdf {
    width: 850px;
    background-color: var(--color-bg);
    padding: 0px 80px;
    color: var(--color-text);
}

.header {
    padding-top: 80px;
    text-align: center;
}

.sections {
    padding-bottom: 80px;
}

.box {
    display: flex;
    background-color: var(--color-main);
}

.a_link_div {
    display: block;
    color: var(--color-text);
    text-decoration: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.a_link_div:hover {
    background-color: var(--color-accent);
}

.a_link {
    color: var(--color-text);
    text-decoration: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.a_link:hover {
    background-color: var(--color-accent);
}

.bold_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: var(--color-text);
}
