:root {
    --color-bg: #0d1321;
    --color-main: #1d2d44;
    --color-text: #f0ebd8;
    --color-accent: #8DB1AB;
    --color-accent: #F2ED6F;
    --font-main: 'Inter', sans-serif;
  }

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #F4E04D;
    --color-main: #587792;
    --color-text: #CEE397;
    --color-accent: #8DB1AB;
    --color-accent: #F2ED6F;
    --font-main: 'Inter', sans-serif;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
