.content {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-family: "Times New Roman", Times, serif;
}
.content h2 {
    font-size: 12px; /* smaller than the default */
}

.full {
    background-color: #2c2c2c;
}

.sections section {
    margin-bottom: 10px; /* space between each major section like EDUCATION, WORK EXPERIENCE */
}


.experience_block ul {
    margin: 10px 20px;
}

.container {
    margin: 10px 15px;
}

.pdf {
    width: 850px;
    background-color: white;
    padding: 0px 80px;
}

.header {
    padding-top: 80px;
    text-align: center;
}

.sections {
    padding-bottom: 80px;
}

.box {
    display: flex;
    background-color: white;
}

.a_link_div {
    display: block;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.a_link_div:hover {
    background-color: lightblue;
}

.a_link {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.a_link:hover {
    background-color: lightblue;
}

.bold_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
